.App {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
}
.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Hereda el gradiente del contenedor */
  opacity: 0.1; /* Aplica la opacidad solo al gradiente */
  z-index: -1; /* Asegura que esté detrás de los elementos internos */
}